<div class="PC">
    <div id="MENUSIDE" [ngClass]="{'active':mobileMenuActive}">
        <div id="MENUSIDEindent">
            <span id="LOGO" class="">
                <a href="#" [routerLink]="['/']">
                    <img alt="logo" src="showcase/resources/images/primeng.svg" />
                </a>
                <a href="#" id="openMobileMenuBtn" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">
                    <img alt="logo" src="showcase/resources/images/menuicon.svg"/>
                </a>
                <!--<img id="BlueLogo" alt="logo" src="showcase/resources/images/primeng.png" class="hiddenLogo"/> -->
            </span>

            <span id="menu_input" #inputmenutitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="inputmenutitle.id == activeMenuId" (click)="activeMenuId = inputmenutitle.id"><img src="showcase/resources/images/mono/input.svg" /><img class="hiddenIcons" src="showcase/resources/images/mono/inputBlue.svg" /><span class="MainLinkText">Input</span></span>
            <div class="SubMenuLinkContainer" [ngClass]="{submenushow: (inputmenutitle.id == activeMenuId), 'submenuhide': (inputmenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/autocomplete']" (click)="mobileMenuActive = false">&#9679; AutoComplete</a>
                <a class="SubMenuLink" [routerLink]="['/calendar']" (click)="mobileMenuActive = false">&#9679; Calendar</a>
                <a class="SubMenuLink" [routerLink]="['/checkbox']" (click)="mobileMenuActive = false">&#9679; Checkbox</a>
                <a class="SubMenuLink" [routerLink]="['/dropdown']" (click)="mobileMenuActive = false">&#9679; Dropdown</a>
                <a class="SubMenuLink" [routerLink]="['/editor']" (click)="mobileMenuActive = false">&#9679; Editor</a>
                <a class="SubMenuLink" [routerLink]="['/inputswitch']" (click)="mobileMenuActive = false">&#9679; InputSwitch</a>
                <a class="SubMenuLink" [routerLink]="['/inputtext']" (click)="mobileMenuActive = false">&#9679; InputText</a>
                <a class="SubMenuLink" [routerLink]="['/inputtext']" (click)="mobileMenuActive = false">&#9679; InputTextArea</a>
                <a class="SubMenuLink" [routerLink]="['/listbox']" (click)="mobileMenuActive = false">&#9679; Listbox</a>
                <a class="SubMenuLink" [routerLink]="['/multiselect']" (click)="mobileMenuActive = false">&#9679; MultiSelect</a>
                <a class="SubMenuLink" [routerLink]="['/password']" (click)="mobileMenuActive = false">&#9679; Password</a>
                <a class="SubMenuLink" [routerLink]="['/radiobutton']" (click)="mobileMenuActive = false">&#9679; RadioButton</a>
                <a class="SubMenuLink" [routerLink]="['/rating']" (click)="mobileMenuActive = false">&#9679; Rating</a>
                <a class="SubMenuLink" [routerLink]="['/slider']" (click)="mobileMenuActive = false">&#9679; Slider</a>
                <a class="SubMenuLink" [routerLink]="['/spinner']" (click)="mobileMenuActive = false">&#9679; Spinner</a>
                <a class="SubMenuLink" [routerLink]="['/selectbutton']" (click)="mobileMenuActive = false">&#9679; SelectButton</a>
                <a class="SubMenuLink" [routerLink]="['/togglebutton']" (click)="mobileMenuActive = false">&#9679; ToggleButton</a>
            </div>

            <span id="button_menutitle" #buttonmenutitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="buttonmenutitle.id == activeMenuId" (click)="activeMenuId = buttonmenutitle.id"><img src="showcase/resources/images/mono/button.svg" /><img class="hiddenIcons" src="showcase/resources/images/mono/buttonBlue.svg" /><span class="MainLinkText">Button</span></span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (buttonmenutitle.id == activeMenuId), 'submenuhide': (buttonmenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/button']" (click)="mobileMenuActive = false">&#9679; Button</a>
                <a class="SubMenuLink" [routerLink]="['/splitbutton']" (click)="mobileMenuActive = false">&#9679; SplitButton</a>
            </div>

            <span id="data_menutitle" #datamenutitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="datamenutitle.id == activeMenuId" (click)="activeMenuId = datamenutitle.id"><img src="showcase/resources/images/mono/data.svg" /><img class="hiddenIcons" src="showcase/resources/images/mono/dataBlue.svg" /><span class="MainLinkText">Data</span></span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (datamenutitle.id == activeMenuId), 'submenuhide': (datamenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/carousel']" (click)="mobileMenuActive = false">&#9679; Carousel</a>
                <a class="SubMenuLink" [routerLink]="['/datagrid']" (click)="mobileMenuActive = false">&#9679; DataGrid</a>
                <a class="SubMenuLink" [routerLink]="['/datalist']" (click)="mobileMenuActive = false">&#9679; DataList</a>
                <a class="SubMenuLink" [routerLink]="['/datascroller']" (click)="mobileMenuActive = false">&#9679; DataScroller</a>
                <a class="SubMenuLink" [routerLink]="['/datatable']" (click)="mobileMenuActive = false">&#9679; DataTable</a>
                <a class="SubMenuLink" [routerLink]="['/orderlist']" (click)="mobileMenuActive = false">&#9679; OrderList</a>
                <a class="SubMenuLink" [routerLink]="['/gmap']" (click)="mobileMenuActive = false">&#9679; GMap</a>
                <a class="SubMenuLink" [routerLink]="['/paginator']" (click)="mobileMenuActive = false">&#9679; Paginator</a>
                <a class="SubMenuLink" [routerLink]="['/picklist']" (click)="mobileMenuActive = false">&#9679; PickList</a>
                <a class="SubMenuLink" [routerLink]="['/schedule']" (click)="mobileMenuActive = false">&#9679; Schedule</a>
                <a class="SubMenuLink" [routerLink]="['/tree']" (click)="mobileMenuActive = false">&#9679; Tree</a>
                <a class="SubMenuLink" [routerLink]="['/treetable']" (click)="mobileMenuActive = false">&#9679; TreeTable</a>
            </div>

            <span id="menu_panel" #panelmenutitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="panelmenutitle.id == activeMenuId" (click)="activeMenuId = panelmenutitle.id"><img src="showcase/resources/images/mono/panel.svg" /><img class="hiddenIcons" src="showcase/resources/images/mono/panelBlue.svg" /><span class="MainLinkText">Panel</span></span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (panelmenutitle.id == activeMenuId), 'submenuhide': (panelmenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/accordion']" (click)="mobileMenuActive = false">&#9679; Accordion</a>
                <a class="SubMenuLink" [routerLink]="['/fieldset']" (click)="mobileMenuActive = false">&#9679; Fieldset</a>
                <a class="SubMenuLink" [routerLink]="['/panel']" (click)="mobileMenuActive = false">&#9679; Panel</a>
                <a class="SubMenuLink" [routerLink]="['/grid']" (click)="mobileMenuActive = false">&#9679; Grid</a>
                <a class="SubMenuLink" [routerLink]="['/tabview']" (click)="mobileMenuActive = false">&#9679; TabView</a>
                <a class="SubMenuLink" [routerLink]="['/toolbar']" (click)="mobileMenuActive = false">&#9679; Toolbar</a>
            </div>

            <span id="menu_overlay" #overlaymenutitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="overlaymenutitle.id == activeMenuId" (click)="activeMenuId = overlaymenutitle.id"><img src="showcase/resources/images/mono/overlay.svg" /><img class="hiddenIcons" src="showcase/resources/images/mono/overlayBlue.svg" /><span class="MainLinkText">Overlay</span></span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (overlaymenutitle.id == activeMenuId), 'submenuhide': (overlaymenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/dialog']" (click)="mobileMenuActive = false">&#9679; Dialog</a>
                <a class="SubMenuLink" [routerLink]="['/lightbox']" (click)="mobileMenuActive = false">&#9679; Lightbox</a>
                <a class="SubMenuLink" [routerLink]="['/overlaypanel']" (click)="mobileMenuActive = false">&#9679; OverlayPanel</a>
                <a class="SubMenuLink" [routerLink]="['/tooltip']" (click)="mobileMenuActive = false">&#9679; Tooltip</a>
            </div>

            <span id="menu_menu" #menumenutitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="menumenutitle.id == activeMenuId" (click)="activeMenuId = menumenutitle.id"><img src="showcase/resources/images/mono/menu.svg" /><img class="hiddenIcons" src="showcase/resources/images/mono/menuBlue.svg" /><span class="MainLinkText">Menu</span></span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (menumenutitle.id == activeMenuId), 'submenuhide': (menumenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/menumodel']" (click)="mobileMenuActive = false">&#9679; MenuModel</a>
                <a class="SubMenuLink" [routerLink]="['/breadcrumb']" (click)="mobileMenuActive = false">&#9679; Breadcrumb</a>
                <a class="SubMenuLink" [routerLink]="['/contextmenu']" (click)="mobileMenuActive = false">&#9679; ContextMenu</a>
                <a class="SubMenuLink" [routerLink]="['/megamenu']" (click)="mobileMenuActive = false">&#9679; MegaMenu</a>
                <a class="SubMenuLink" [routerLink]="['/menu']" (click)="mobileMenuActive = false">&#9679; Menu</a>
                <a class="SubMenuLink" [routerLink]="['/menubar']" (click)="mobileMenuActive = false">&#9679; Menubar</a>
                <a class="SubMenuLink" [routerLink]="['/panelmenu']" (click)="mobileMenuActive = false">&#9679; PanelMenu</a>
                <a class="SubMenuLink" [routerLink]="['/slidemenu']" (click)="mobileMenuActive = false">&#9679; SlideMenu</a>
                <a class="SubMenuLink" [routerLink]="['/tabmenu']" (click)="mobileMenuActive = false">&#9679; TabMenu</a>
                <a class="SubMenuLink" [routerLink]="['/tieredmenu']" (click)="mobileMenuActive = false">&#9679; TieredMenu</a>
            </div>

            <span id="menu_chart" #chartmenutitle class="MenuSideMainLink bordersOfMenuSide" [class.MenuSideMainLinkDark]="chartmenutitle.id == activeMenuId" (click)="activeMenuId = chartmenutitle.id"><img src="showcase/resources/images/mono/charts.svg" /><img class="hiddenIcons" src="showcase/resources/images/mono/chartsBlue.svg" /><span class="MainLinkText">Charts</span></span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (chartmenutitle.id == activeMenuId), 'submenuhide': (chartmenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/barchart']" (click)="mobileMenuActive = false">&#9679; Bar</a>
                <a class="SubMenuLink" [routerLink]="['/doughnutchart']" (click)="mobileMenuActive = false">&#9679; Doughnut</a>
                <a class="SubMenuLink" [routerLink]="['/linechart']" (click)="mobileMenuActive = false">&#9679; Line</a>
                <a class="SubMenuLink" [routerLink]="['/polarchart']" (click)="mobileMenuActive = false">&#9679; PolarArea</a>
                <a class="SubMenuLink" [routerLink]="['/piechart']" (click)="mobileMenuActive = false">&#9679; Pie</a>
                <a class="SubMenuLink" [routerLink]="['/radarchart']" (click)="mobileMenuActive = false">&#9679; Radar</a>
            </div>

            <span id="menu_messages" #messagesmenutitle class="MenuSideMainLink bordersOfMenuSide MenuSideMainLinkDark" [class.MenuSideMainLinkDark]="messagesmenutitle.id == activeMenuId"
                              (click)="activeMenuId = messagesmenutitle.id"><img src="showcase/resources/images/mono/message.svg">
                    <img class="hiddenIcons" src="showcase/resources/images/mono/messageBlue.svg">
                    <span class="MainLinkText">Messages</span>
            </span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (messagesmenutitle.id == activeMenuId), 'submenuhide': (messagesmenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/messages']" (click)="mobileMenuActive = false">&#9679; Messages</a>
                <a class="SubMenuLink" [routerLink]="['/growl']" (click)="mobileMenuActive = false">&#9679; Growl</a>
            </div>

            <span id="menu_multimedia" #multimediamenutitle class="MenuSideMainLink bordersOfMenuSide MenuSideMainLinkDark" [class.MenuSideMainLinkDark]="multimediamenutitle.id == activeMenuId"
                  (click)="activeMenuId = multimediamenutitle.id"><img src="showcase/resources/images/mono/multimedia.svg">
                    <img class="hiddenIcons" src="showcase/resources/images/mono/multimediaBlue.svg" style="opacity: 0;">
                    <span class="MainLinkText">Multimedia</span>
            </span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (multimediamenutitle.id == activeMenuId), 'submenuhide': (multimediamenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/galleria']" (click)="mobileMenuActive = false">&#9679; Galleria</a>
            </div>
            
            <span id="menu_dnd" #dndmenutitle class="MenuSideMainLink bordersOfMenuSide MenuSideMainLinkDark" [class.MenuSideMainLinkDark]="dndmenutitle.id == activeMenuId"
                  (click)="activeMenuId = dndmenutitle.id"><img src="showcase/resources/images/mono/dragdrop.svg">
                    <img class="hiddenIcons" src="showcase/resources/images/mono/dragdrop.svg" style="opacity: 0;">
                    <span class="MainLinkText">DragDrop</span>
            </span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (dndmenutitle.id == activeMenuId), 'submenuhide': (dndmenutitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/dragdrop']" (click)="mobileMenuActive = false">&#9679; Drag&amp;Drop</a>
            </div>
            
            <span id="menu_misc" #misctitle class="MenuSideMainLink bordersOfMenuSide MenuSideMainLinkDark" [class.MenuSideMainLinkDark]="misctitle.id == activeMenuId"
                  (click)="activeMenuId = misctitle.id"><img src="showcase/resources/images/mono/misc.svg">
                    <img class="hiddenIcons" src="showcase/resources/images/mono/miscBlue.svg" style="opacity: 0;">
                    <span class="MainLinkText">Misc</span>
            </span>
            <div class="SubMenuLinkContainer" [ngClass]="{'submenushow': (misctitle.id == activeMenuId), 'submenuhide': (misctitle.id != activeMenuId)}">
                <a class="SubMenuLink" [routerLink]="['/responsive']" (click)="mobileMenuActive = false">&#9679; Responsive</a>
                <a class="SubMenuLink" [routerLink]="['/validation']" (click)="mobileMenuActive = false" *ngIf="false">&#9679; Validation</a>
                <a class="SubMenuLink" [routerLink]="['/theming']" (click)="mobileMenuActive = false">&#9679; Theming</a>
                <a class="SubMenuLink" [routerLink]="['/progressbar']" (click)="mobileMenuActive = false">&#9679; ProgressBar</a>
                <a class="SubMenuLink" [routerLink]="['/codehighlighter']" (click)="mobileMenuActive = false">&#9679; CodeHighlighter</a>
                <a class="SubMenuLink" [routerLink]="['/terminal']" (click)="mobileMenuActive = false">&#9679; Terminal</a>
            </div>
        </div>
    </div>

    <div id="CONTENTSIDE">
        <div id="CONTENTSIDEindent">

            <!-- header bar start-->
            <div class="ContentSideSections" id="PFTopLinksCover" style="height:30px;">
                <a id="LOGOTEXTSIDE" [routerLink]="['HomePage']">
                    <img alt="logo" src="showcase/resources/images/primengfull.svg"/>
                </a>

                <a href="#" id="openMenuBtn" (click)="toggleMenu($event)" [ngClass]="{'active':mobileMenuActive}">
                    <img alt="logo" src="showcase/resources/images/menuicon.svg"/>
                </a>

                <a href="http://forum.primefaces.org/viewforum.php?f=35" class="PFTopLinks floatRight"><img alt="mockosx" src="showcase/resources/images/community.svg" /><span class="PFDarkText">Forum</span></a>

                <span class="PFTopLinks floatRight cursorPointer" id="themeSwitcher" (mouseenter)="themesVisible = true" (mouseleave)="themesVisible = false">
                    <img src="showcase/resources/images/themeswitcher.svg" /><span class="PFDarkText">Free Themes</span>
                    <div id="GlobalThemeSwitcher" class="navOverlay" [style.display]="themesVisible ? 'block' : 'none'" style="margin-top:10px">
                        <a href="#" data-theme="afterdark"  onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-afterdark"></span><span class="ui-text">Afterdark</span></a>
                        <a href="#" data-theme="afternoon" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-afternoon"></span><span class="ui-text">Afternoon</span></a>
                        <a href="#" data-theme="afterwork" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-afterwork"></span><span class="ui-text">Afterwork</span></a>
                        <a href="#" data-theme="aristo" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-aristo"></span><span class="ui-text">Aristo</span></a>
                        <a href="#" data-theme="black-tie" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-black-tie"></span><span class="ui-text">Black-Tie</span></a>
                        <a href="#" data-theme="bluesky" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-bluesky"></span><span class="ui-text">Bluesky</span></a>
                        <a href="#" data-theme="bootstrap" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-bootstrap"></span><span class="ui-text">Bootstrap</span></a>
                        <a href="#" data-theme="casablanca" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-casablanca"></span><span class="ui-text">Casablanca</span></a>
                        <a href="#" data-theme="cruze" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-cruze"></span><span class="ui-text">Cruze</span></a>
                        <a href="#" data-theme="dark-hive" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-dark-hive"></span><span class="ui-text">Dark-Hive</span></a>
                        <a href="#" data-theme="delta" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-delta"></span><span class="ui-text">Delta</span></a>
                        <a href="#" data-theme="dot-luv" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-dot-luv"></span><span class="ui-text">Dot-Lov</span></a>
                        <a href="#" data-theme="eggplant" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-eggplant"></span><span class="ui-text">Eggplant</span></a>
                        <a href="#" data-theme="excite-bike" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-excite-bike"></span><span class="ui-text">Excite-Bike</span></a>
                        <a href="#" data-theme="flick" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-flick"></span><span class="ui-text">Flick</span></a>
                        <a href="#" data-theme="glass-x" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-glass-x"></span><span class="ui-text">Glass-X</span></a>
                        <a href="#" data-theme="home" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-home"></span><span class="ui-text">Home</span></a>
                        <a href="#" data-theme="hot-sneaks" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-hot-sneaks"></span><span class="ui-text">Hot-Sneaks</span></a>
                        <a href="#" data-theme="humanity" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-humanity"></span><span class="ui-text">Humanity</span></a>
                        <a href="#" data-theme="le-frog" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-le-frog"></span><span class="ui-text">Le-Forg</span></a>
                        <a href="#" data-theme="midnight" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-midnight"></span><span class="ui-text">Midnight</span></a>
                        <a href="#" data-theme="mint-choc" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-mint-choc"></span><span class="ui-text">Mint-Choc</span></a>
                        <a href="#" data-theme="omega" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-omega"></span><span class="ui-text">Omega</span></a>
                        <a href="#" data-theme="overcast" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-overcast"></span><span class="ui-text">Overcast</span></a>
                        <a href="#" data-theme="pepper-grinder" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-pepper-grinder"></span><span class="ui-text">Pepper-Grinder</span></a>
                        <a href="#" data-theme="redmond" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-redmond"></span><span class="ui-text">Redmond</span></a>
                        <a href="#" data-theme="rocket" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-rocket"></span><span class="ui-text">Rocket</span></a>
                        <a href="#" data-theme="sam" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-sam"></span><span class="ui-text">Sam</span></a>
                        <a href="#" data-theme="smoothness" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-smoothness"></span><span class="ui-text">Smoothness</span></a>
                        <a href="#" data-theme="south-street" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-south-street"></span><span class="ui-text">South-Street</span></a>
                        <a href="#" data-theme="start" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-start"></span><span class="ui-text">Start</span></a>
                        <a href="#" data-theme="sunny" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-sunny"></span><span class="ui-text">Sunny</span></a>
                        <a href="#" data-theme="swanky-purse" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-swanky-purse"></span><span class="ui-text">Swanky-Purse</span></a>
                        <a href="#" data-theme="trontastic" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-trontastic"></span><span class="ui-text">Trontastic</span></a>
                        <a href="#" data-theme="ui-darkness" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-ui-darkness"></span><span class="ui-text">UI-Darkness</span></a>
                        <a href="#" data-theme="ui-lightness" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-ui-lightness"></span><span class="ui-text">UI-Lightness</span></a>
                        <a href="#" data-theme="vader" onclick="DemoApp.changeTheme(event, this)"><span class="ui-theme ui-theme-var"></span><span class="ui-text">Vader</span></a>
                    </div>
                </span>
                
                <span class="PFTopLinks floatRight cursorPointer" id="PremiumLayouts" (mouseenter)="premiumVisible = true" (mouseleave)="premiumVisible = false">
                    <img src="showcase/resources/images/layouts.svg" /><span class="PFDarkText">Premium</span>
                    <div id="PremiumLayoutsPanel" class="navOverlay" [style.display]="premiumVisible ? 'block' : 'none'" style="margin-top:10px">
                        <a href="http://www.primefaces.org/layouts/rio-primeng" target="_blank"><span class="ui-text">Rio</span></a>
                        <a href="http://www.primefaces.org/layouts/modena-primeng" target="_blank"><span class="ui-text">Modena</span></a>
                        <a href="http://www.primefaces.org/layouts/adamantium-primeng" target="_blank"><span class="ui-text">Adamantium</span></a>
                        <a href="http://www.primefaces.org/layouts/olympos-primeng" target="_blank"><span class="ui-text">Olympos</span></a>
                    </div>
                </span>

                <a href="setup.html" class="PFTopLinks floatRight hashed" [routerLink]="['/setup']"><img alt="mockosx" src="showcase/resources/images/setup.svg" /><span class="PFDarkText">Setup</span></a>

                <div class="mobileLogoCover">
                    <img src="showcase/resources/images/primengdark.svg" style="height:30px;" class="floatLeft marginRight10" />
                    <span class="dispBlock logoDarkText fontSize18 floatRight" style="margin:-5px 0px 0px 5px;">PrimeNG <span class="dispBlock logoBlueText fontSize14">SHOWCASE</span></span>
                </div>
            </div>
            <!-- header bar end-->

            <div>
                <router-outlet></router-outlet>
            </div>


            <!-- footer start-->
            <div class="ContentSideSections">
                <span class="floatLeft fontSize14 gray"><a href="http://www.primetek.com.tr">PrimeTek</a>, Copyright &copy; 2016</span>
                <span class="floatRight fontSize14 gray">All rights reserved</span>
                <div style="clear:both"></div>
            </div>
            <!-- footer end-->

        </div>
    </div>

</div>
